/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	justify-items: center;
	align-items: center;
	width: 65%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
